.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.carousel-container {
    display: flex;
    justify-content: center;
}

.carousel-image {
    object-fit: cover;
    height: 400px;
    width: 800px;
}
.container {
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.row {
    justify-content: center;
}

.card:hover {
    transform: scale(1.03);
    transition: transform .2s;
}
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: lightblue;
}

div {
    margin: 1em;
}

input {
    margin: 5px 0;
    padding: 5px;
    width: 300px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

button {
    margin: 5px 2px;
    padding: 5px 10px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
.img-thumbnail {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.img-thumbnail:hover {
    transform: scale(1.3);
}

.img-thumbnail.selected {
    transform: scale(1.3);
    border: 2px solid blue;
}