#News-container {
    width: 100%;
    margin-top: 8rem;
    margin-bottom: 4rem;
    height: 100%;
    flex: 1 1;
}

#News-card {
    margin-bottom: 1.5rem;
    width: 100%;
}

@media screen and (max-width: 768px) {
    #News-container {
        margin-top: 0rem;
        margin-bottom: 2rem;
        height: 100%;
        flex: 1 1;
    }

    #News-card {
        width: 100%;
    }
}

